/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
 /* body{
     background-color: black;
     margin: 0%;
     padding: 0%;
 } */

 .row_top{
    margin-top: 40%;
}
.hero_heading > h1{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 76px;
}
.hero_heading > p{
    width: 90%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.hero_img > img{
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
 }
 .hero_heading > button{
    width: 90%;
 }

 .core_services > h1{
    width: 100%;
    height: 100%;
    margin-left: -6%;
}

.core_services > p{
    width: 90%;
    height: 100%;
    letter-spacing: 0.24px;
     margin-right: 10%;
}
.core_services > img {
    margin-left: -6%;
}

.fast_trans{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    margin-left: -7%;
}
.fast_trans > img{
    padding-top: 11.5%;
    width: 100%;
    height: 100%;
  }

  .social_friend{
    float: right;
    margin-top: -92%;
    margin-right: 0%;
}
.social_friend > img{
    float: right;
    width: 78%;
}
.core_services_heading > p{
    width: 100%;
    height: 100%;
    padding-right: 6%;
}

.agent_banking > h1{
    width: 100%;
    height: 100%;
    font-size: 32px;
}
.agent_banking > p{
    width: 100%;
    height: 100%;
    padding-right: 6%;
}

.agent_banking_img{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    margin-left: -4%;
    
  }

  .agent_banking_img > img{
      padding-top: 3%;
      margin-left: 0%;
      width: 100%;
     height: 100%;
  }

  .fast_trans{
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.fast_trans > img{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 0%;
  }

.settl_wallets > h1{
    width: 96%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

.settl_wallets > p{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding-right: 6%;
  }

.settl_card > h1{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding-right: 6%;
}

.settl_card > p{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding-right: 6%;
}
.hand_card{
    width: 90%;
    height: 100%;
    left: 777px;
    top: 3855px;
    background: rgba(241, 228, 255, 0.7);
    border-radius: 10px;
}
.hand_card > img{
    width: 100%;
    height: 107%;
    padding-top: 3%;
    margin-left: 10%;
}

.get_update > h1{
    width: 100%;
    height: 107%;
    left: 0px;
    top: 0px;
    margin-top: 13%;
   
}

.card_heading > h1{
    width: 90%;
    height: 100%;
    margin-left: 0%;
}

.card_heading > p{
    width: 100%;
    height: 100%;
    margin-left: -3%;
    padding-right: 6%;
}

#card_dis {
    width: 100%;
    height: 300px;

}

#container_top{
    margin-top: -45%;
}
.card_content > p{
    width: 95%;
}

.footer_section > p{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
}
.footer_section > ul {
    display: inline-flex;
    list-style: none;
    margin-left: -20%;
    margin-top: 5%;
    margin-bottom: 5%;
   }

.footer_section > ul > li {
    margin-right: 15%;
 }

 #page_heaght{
     height:400px;
 }
 .modal-dialog .modal-content {
    border: 0;
    box-shadow: none;
    width: 100%;
    height: 605px;
    background: #FDF8FD;
    /* margin-left: -17%; */
    border-radius: 24px;
}

.modal-header .close {
    padding: 1rem -2rem;
    margin: -9rem 1rem -1rem auto;
    
}
.group > input {
    padding:20px;
    margin:15px 0;
    border:2px solid rgba(172, 139, 211, 0.12);
    transition: all 0.1s;
    width: 100%;
    height: 71px;
    left: 438px;
    top: 427px; 
}
.group {
    position: relative;
    margin:  0%;
    float: none;
}

.group > button{
    width: 100%;
    height: 70px;
    margin-top: 5%;
}

input + label {
    display: none;
}

}